<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>css3</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<style>
	html{
		font-size: 16px;
	}
	body{
		padding: 0;
		margin: 0;
	}
	h4{
		padding: 0 30px;
		font-size: 18px;
		font-weight: bold;
	}
	.box{
		height: 50px;
		line-height: 50px;
		background-color: #f0f0f0;
		margin: 10px 0;
		width: 100%;
		padding: 0 30px;
	}
	.box-1{
		box-sizing: border-box;
	}
	.txt-none{
		-webkit-apperance: none;
		apperance:none;
	}

	</style>
</head>
<body>
	<h4>box-sizing</h4>
	<div class="box">content-box</div>
	<div class="box box-1">border-box</div>
</body>
</html>